# Practice SQL Database types

Fill out the code, as necessary, below based on the directions in Canvas.

Rough list of tables & columns:
- students
    studentID, firstName, lastName, phoneNumber, personalEmail, status, enrollmentDate, graduationDate
- staff
    staffID firstName, lastName, workPhoneNumber, workEmail, personalPhoneNumber, personalEmail, department, employment type
- student records
    studentID, firstName, lastName, classCode, classTitle, term, completed, grade
- classes
    classCode, classTitle, department, instructorName, status, dateActivated, dateDeactivated
- attendance